<html
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <div class="d-flex justify-content-start align-items-center mb-3 lh-1">
        <div class="rounded-1">
            <core:icon identifier="vici-extension-icon" size="medium" title="EXT:vici" />
        </div>
        <h1 class="m-0 ps-2 pt-1">EXT:vici - <strong>V</strong>ersatile <strong>I</strong>nterface for <strong>C</strong>ustom <strong>I</strong>nformation</h1>
    </div>

</html>
